<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mobile.fivechess.mapper.UserMapper">

    <resultMap type="User" id="UserResult">
        <result property="userId" column="user_id"/>
        <result property="nickname" column="nickname"/>
        <result property="rating" column="rating"/>
        <result property="integral" column="integral"/>
        <result property="rankName" column="rank_name"/>
    </resultMap>

    <sql id="selectUserVo">
        select user_id, nickname, rating, integral, rank_name from user
    </sql>

    <select id="selectUserList" parameterType="User" resultMap="UserResult">
        <include refid="selectUserVo"/>
        <where>
            <if test="nickname != null and nickname != ''">and nickname like concat('%', #{nickname}, '%')</if>
            <if test="rating != null and rating != 0.0">and rating = #{rating}</if>
            <if test="integral != null and integral != 0.0">and integral = #{integral}</if>
            <if test="rankName != null and rankName != ''">and rank_name like concat('%', #{rankName}, '%'),</if>
        </where>
        order by integral desc
    </select>

    <select id="selectUserById" parameterType="String" resultMap="UserResult">
        <include refid="selectUserVo"/>
        where user_id = #{userId}
    </select>

    <insert id="insertUser" parameterType="User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="nickname != null">nickname,</if>
            <if test="rating != null">rating,</if>
            <if test="integral != null">integral,</if>
            <if test="rankName != null">rank_name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="nickname != null">#{nickname},</if>
            <if test="rating != null">#{rating},</if>
            <if test="integral != null">#{integral},</if>
            <if test="rankName != null">#{rankName},</if>
        </trim>
    </insert>

    <update id="updateUser" parameterType="User">
        update user
        <trim prefix="SET" suffixOverrides=",">
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="rating != null">rating = #{rating},</if>
            <if test="integral != null">integral = #{integral},</if>
            <if test="rankName != null">rank_name = #{rankName},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteUserById" parameterType="String">
        delete from user where user_id = #{userId}
    </delete>

</mapper>
